@model DATN_WebDatPhongKhachSan.Models.User

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_layout_login_user";
}


    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-sm-7 login-card-wrapper">
            <div class="card login-card">
              <div class="card-body">
                <h2 class="login-card-title">Đăng nhập  </h2>
                <p class="login-card-description">Sign into your account</p>
                <form action="#!">
                  <div class="form-group">
                    <label for="user" class="sr-only">user</label>
                    <input  name="UserName" asp-for="UserName" type="text" placeholder="Tài khoản" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input name="Password" asp-for="Password" type="password" placeholder="Mật khẩu" class="form-control" >
                  </div>
                  <div class="form-options-wrapper">
                    <div class="custom-control custom-checkbox login-card-check-box">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Remember me</label>
                    </div>
                    <a href="#!" class="text-reset">Forgot password?</a>
                  </div>
                
                   <button  class="btn btn-block login-btn" asp-controller="Users" asp-action="Login">
                                Đăng nhập
                            </button>
                </form>
                <p class="login-card-footer-text">Need an account?<a href="#!" class="text-reset">Signup</a></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  


