
<div class="site-section block-15">
        <div class="container">


            <div class="nonloop-block-15 owl-carousel">


                <div class="media-with-text p-md-4">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="popup-vimeo image-play">
                            <img src="assets/images/qc01.png" alt="" class="img-fluid">
                        </a>
                    </div>

                </div>

                <div class="media-with-text p-md-4">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="popup-vimeo image-play">
                            <img src="assets/images/qc02.png" alt="" class="img-fluid">
                        </a>
                    </div>

                </div>

                <div class="media-with-text p-md-4">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="popup-vimeo image-play">
                            <img src="assets/images/qc01.png" alt="" class="img-fluid">
                        </a>
                    </div>

                </div>

                <div class="media-with-text p-md-4">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="popup-vimeo image-play">
                            <img src="assets/images/qc01.png" alt="" class="img-fluid">
                        </a>
                    </div>

                </div>

                <div class="media-with-text p-md-4">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="popup-vimeo image-play">
                            <img src="assets/images/qc01.png" alt="" class="img-fluid">
                        </a>
                    </div>

                </div>


            </div>

        </div>
    </div>//




<div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6  mb-5 section-heading title-man">
                    <h2 class="">Đang thịnh Hành</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <div class="comment-star mb-0 mr-2">
                                <svg width="14" height="14" fill="none" class="svgFillAll jss184" style="stroke:#FFBC39;fill:#FFBC39"><path d="M12.464 5.684a1.055 1.055 0 00-.849-.719L9.078 4.6 7.94 2.31a1.05 1.05 0 00-1.88 0L4.925 4.598l-2.536.367a1.057 1.057 0 00-.87 1.292c.047.191.148.365.29.502L3.64 8.534l-.433 2.51a1.05 1.05 0 001.521 1.107l2.272-1.188 2.273 1.19a1.05 1.05 0 001.522-1.108l-.435-2.51 1.832-1.776a1.05 1.05 0 00.271-1.075z" fill="#FFBC39"></path></svg>
                                <svg width="14" height="14" fill="none" class="svgFillAll jss184" style="stroke:#FFBC39;fill:#FFBC39"><path d="M12.464 5.684a1.055 1.055 0 00-.849-.719L9.078 4.6 7.94 2.31a1.05 1.05 0 00-1.88 0L4.925 4.598l-2.536.367a1.057 1.057 0 00-.87 1.292c.047.191.148.365.29.502L3.64 8.534l-.433 2.51a1.05 1.05 0 001.521 1.107l2.272-1.188 2.273 1.19a1.05 1.05 0 001.522-1.108l-.435-2.51 1.832-1.776a1.05 1.05 0 00.271-1.075z" fill="#FFBC39"></path></svg>
                                <svg width="14" height="14" fill="none" class="svgFillAll jss184" style="stroke:#FFBC39;fill:#FFBC39"><path d="M12.464 5.684a1.055 1.055 0 00-.849-.719L9.078 4.6 7.94 2.31a1.05 1.05 0 00-1.88 0L4.925 4.598l-2.536.367a1.057 1.057 0 00-.87 1.292c.047.191.148.365.29.502L3.64 8.534l-.433 2.51a1.05 1.05 0 001.521 1.107l2.272-1.188 2.273 1.19a1.05 1.05 0 001.522-1.108l-.435-2.51 1.832-1.776a1.05 1.05 0 00.271-1.075z" fill="#FFBC39"></path></svg>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            </div>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <div class="comment-star mb-0 mr-2">
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            </div>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_3.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <div class="comment-star mb-0 mr-2">
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            </div>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <div class="comment-star mb-0 mr-2">
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            </div>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12   section-heading title-man">
                    <h2 class="">Khách Sạn </h2>

                    <span>Phú Quốc</span>
                    <span>Phú Quốc</span>
                    <span>Phú Quốc</span>
                    <span>Phú Quốc</span>
                    <span>Phú Quốc</span>
                    <span>Phú Quốc</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_3.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_3.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_3.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 ">
                    <div class="hotel-room text-center">
                        <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0"><a href="#">Mũi Né Bay Resort</a></h3>
                            <p class="address">Thành phố Hồ Chí Minh</p>
                            <p class="price-new">350.000đ </p>
                            <p class="price-old">250.000đ </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="MuiBox-root jss128 jss115">
        <div class="MuiBox-root jss129 jss116 container">
            <div class="MuiBox-root jss30">
                <p class="MuiTypography-root jss25 MuiTypography-body2"> Khách sạn theo địa điểm </p>
            </div>
            <div class="jss117 slick-initialized box-add">
                <div class=" box1">
                    <div class="strick-track">
                        <img src="assets/images/ha.png">
                    </div>
                    <p>Phú Quốc</p>
                </div>
                <div class="box1">
                    <div class="strick-track">
                        <img src="assets/images/ha.png">
                    </div>
                    <p>Phú Quốc</p>
                </div>
                <div class="box1">
                    <div class="strick-track">
                        <img src="assets/images/ha.png">
                    </div>
                    <p>Phú Quốc</p>
                </div>
                <div class="box1">
                    <div class="strick-track">
                        <img src="assets/images/ha.png">
                    </div>
                    <p>Phú Quốc</p>
                </div>
                <div class="box1">
                    <div class="strick-track">
                        <img src="assets/images/ha.png">
                    </div>
                    <p>Phú Quốc</p>
                </div>
                <div class="box1">
                    <div class="strick-track">
                        <img src="assets/images/ha.png">
                    </div>
                    <p>Phú Quốc</p>
                </div>
            </div>
        </div>
    </div>